/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

@viewport {
  width: 1024px;
  height: 720px;
}

body {
  position: relative;
  color: white;
  background: url('../assets/csel_bg00.png');
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 100%;
  background-position-y: 35%;
  background-blend-mode: multiply;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  width: 1024px;
  height: 720px;
  overflow: hidden;
}

.Hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
}

.TopBar {
  width: 100%;
  background-color:rgba(0, 0, 0, 0.7);
  padding: 5px 20px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(to right, #bb27ff, #F90000);
  border-image-slice: 1;
}

.TopBar h1 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.Top-menu ul {
  display: flex;
  font-size: 14px;
}

.Top-menu ul li {
  margin: 0 20px;
}

.Menu-title {
  margin: 70px auto;
  display: grid;
  grid-template-columns: 300px 300px;
  grid-gap: 20px;
}

button {
  font-weight: bold;
  color: white;
  filter: saturate(1.2);
  width: 300px;
  height: 105px;
  padding: 20px 40px;
  border: none;
  outline: none;
  appearance: none;
  font-size: 24px;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: ease-in 0.1s;
  text-transform: uppercase;
  text-align: right;
  cursor: pointer;
}

button:hover {
  filter: hue-rotate(220deg);
}

.Netplay {
  background: url('../assets/buttons/title/netplay-button.png');
}

.Offline {
  background: url('../assets/buttons/title/offline-button.png');
}

.Spectate {
  background: url('../assets/buttons/title/spectate-button.png');
}

.Replays {
  background: url('../assets/buttons/title/replays-button.png');
  filter: grayscale(1);
  cursor: initial;
}

.Replays:hover {
  filter: grayscale(1);
  cursor: initial;
}

.Controls {
  background: url('../assets/buttons/title/controls-button.png');
}

.Settings {
  background: url('../assets/buttons/title/settings-button.png');
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

.Info {
  width: 100%;
  font-weight: 100;
}

.Info h3 {
  z-index: 0;
  font-style: italic;
  font-weight: 500;
  margin: 0 20px;
  margin-bottom: -10px;
}

.Text {
  height: 100%;
  background-color:rgba(0, 0, 0, 0.5);
  padding: 8px 0;
  margin: 0;

}

.Text p {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  height: 26px;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  padding: 10px 20px;
  font-family: 'Noto serif', serif;
}