/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

@viewport {
  width: 1024px;
  height: 720px;
}

body {
  color: white;
  background: url('../assets/csel_bg00.png');
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-position-y: 35%;
  background-blend-mode: multiply;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 720px;
  overflow: hidden;
}

.Hello {
  display: flex;
  justify-content: center;
  margin-top: 130px;
}

.TopBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color:rgba(0, 0, 0, 0.7);
  padding: 0 20px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;
  border-image: linear-gradient(to right, #bb27ff, #F90000);
  border-image-slice: 1;
  z-index: 1;
}

.TopBar h1 {
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}

.Top-menu ul {
  display: flex;
  font-size: 14px;
}

.Top-menu ul li {
  margin: 0 15px;
}

.Top-menu ul li:last-child {
  margin-right: 0px;
}

.Top-menu .dropdown-toggle {
  width: 100%;
  height: auto;
  background: none;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.Top-menu .dropdown-menu {
  display: flex;
  flex-direction: column;
  background-color: #101010;
  padding: 10px 0;
  margin-top: 10px;
  border-radius: 5px;
  width: 130px;
  box-shadow: 0px 0px 7px black;
}

.Top-menu .dropdown-menu .dropdown-header {
  margin: 5px 20px;
  font-size: 12px;
  cursor: context-menu;
  color: #999999;
}

.Top-menu .dropdown-menu .dropdown-item {
  color: #ffff;
  text-decoration: none;
  margin: 5px 20px;
}

.Top-menu .dropdown-menu .dropdown-item:hover {
  color: #f8a500;
}

.Top-menu .dropdown-divider {
  border-top: 1px solid #303030;
  margin: 5px 5px;
}

.Top-menu .btn {
  width: 100%;
  height: auto;
  background: none;
  font-size: 14px;
  font-weight: 400;
  text-transform: none;
  padding: 0;
}

.Menu-title {
  display: grid;
  grid-template-columns: 300px 300px;
  grid-gap: 20px;
}

button {
  font-weight: bold;
  color: white;
  filter: saturate(1.2);
  width: 300px;
  height: 105px;
  padding: 20px 40px;
  border: none;
  outline: none;
  appearance: none;
  font-size: 24px;
  box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
    0px 18px 88px -4px rgba(24, 39, 75, 0.14);
  transition: ease-in 0.1s;
  text-transform: uppercase;
  text-align: right;
  cursor: pointer;
  border-radius: 3px;
}

button:hover {
  filter: hue-rotate(220deg);
}

.Netplay {
  background: url('../assets/buttons/title/netplay-button.png');
}

.Offline {
  background: url('../assets/buttons/title/offline-button.png');
}

.Spectate {
  background: url('../assets/buttons/title/spectate-button.png');
}

.Replays {
  background: url('../assets/buttons/title/replays-button.png');
  filter: grayscale(1);
  cursor: initial;
}

.Replays:hover {
  filter: grayscale(1);
  cursor: initial;
}

.Controls {
  background: url('../assets/buttons/title/controls-button.png');
}

.Settings {
  background: url('../assets/buttons/title/settings-button.png');
}

p {
  font-size: 24px;
}

li {
  list-style: none;
}

.Info {
  position: fixed;
  bottom: 5px;
  left: 0;
  width: 100%;
  font-weight: 100;
}

.Info h3 {
  z-index: 1;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  margin: 0 20px;
  margin-bottom: -8px;
}

.Text {
  height: 100%;
  background-color:rgba(0, 0, 0, 0.5);
  padding: 8px 0;
  margin: 0;

}

.Text p {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  height: 20px;
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  padding: 10px 20px;
  font-family: 'Noto serif', serif;
}

.modal {
  position: absolute;
  top: calc(50vh / 2);
  left: calc(100vw / 3);
  width: 300px;
  z-index: 1050;
  align-content: center;
  background-color: #101010;
  outline: none;
  padding: 20px;
  border-radius: 7px;
  box-shadow: 0px 0px 7px black;
}

.modal .modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.modal .modal-header .modal-title {
  margin: 20px auto;
  margin-top: 0;
  text-transform: uppercase;
}

.modal .close {
  position: relative;
  top: 0;
  right: 0;
  background: none;
  width: 14px;
  height: 14px;
  padding: 0;
  margin: -15px -10px;
}

.modal .close .sr-only {
  display: none;
}

.modal .modal-body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.modal .modal-body input {
  width: -webkit-fill-available;
  padding: 12px 16px;
  background: none;
  border: 1px solid rgba(255,255,255,0.5);
  border-radius: 3px;
  color: rgba(255,255,255,0.5);
  margin: 5px auto;
  outline: none;
}

.modal .modal-footer button {
  width: 300px;
  height: 40px;
  font-size: 16px;
  padding: 12px 0;
  margin: 5px auto;
  text-align: center;
  background-color: #AA7000;
  font-weight: 500;
  text-transform: initial;
}

.modal .modal-footer button:last-child {
  background-color: #7289DA;
}

.modal .modal-footer button:last-child:hover {
  filter: none;
  background-color: #3450b6;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-backdrop.show {
  animation: fade-in .15s linear 0s 1;
}

.modal-backgrop.fade {
  animation: fade-in .15s linear 0s 1 reverse;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}

.fade {
  transition: opacity .15s linear;
}

.modal-dialog {
  position: relative;
  width: 300px;
}

@keyframes fade-in {
  0% {opacity: 0};
  100% {opacity: 1};
}
